NEXT_PUBLIC_SUPABASE_URL=https://iiiciapavjonpmldytxf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_fna5Bi-LZ4PIUUCUBL-IUA_7frGblKo
SUPABASE_SERVICE_ROLE_KEY=sb_secret_EUTN_fa4RoMCfYJhAgex_A_BAbR5Nz9
NEXT_PUBLIC_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
RESEND_API_KEY=re_MkA5f8KD_A5Butho8tHV9y7B29Ekf6GKd
EMAIL_FROM=QWIKKER <onboarding@resend.dev>
EMAIL_REPLY_TO=onboarding@resend.dev
ADMIN_API_KEY=qwikker_admin_2025_secure_key_789xyz
MOBILE_WALLET_APP_KEY=xIwpMeyEfuoAtvyCeLsNkQOuCYhOWahJYDHpQzlLfJbFWhptwLhArihcLcBCfpmF
MOBILE_WALLET_TEMPLATE_ID=4844561051942912
OPENAI_API_KEY=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
ANTHROPIC_API_KEY=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